/* colors----------------------------------------------------------------------
red: rgba(92, 149, 255, 1);
gray: rgba(128, 128, 128, 0.6);
faint white: rgba(255, 255, 255, 0.5);
blue: rgba(92, 149, 255, 0.8); */


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* Global Styles--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

h2 {
  font-size: 1.2rem;
}

.income-h2 {
  color: rgba(92, 149, 255, 0.8);
}

.expenses-h2 {
  color: rgba(237, 1, 1, 0.8);
}

body {
  min-height: 100%;
}


/* top section--------------------------------------------------------------- */
.top-section {
  background-image: url(../images/pencils.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 40%;
  display: grid;
  place-items: center;
}

.budget-area {
  min-width: 25%;
  height: 90%;
  display: grid;
  place-items: center;
}
.budget-area > p{
  font-size: 1.1rem;
}
.in-and-exp-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  background-color: white;
}
.details-container{
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details-container > p{
  font-size: 0.75rem;
}
.calc-container{
  display: flex;
  gap: 0.5em;
}
.top-income{
  background-color: rgba(92, 149, 255, 0.8);
  box-shadow: 0 0 3px 1px rgba(128, 128, 128, 1);
}
.top-expenses{
  background-color: rgba(237, 1, 1, 0.8);
  box-shadow: 0 0 3px 1px rgba(128, 128, 128, 1);
}
.white{
  color: white;
  font-size: 1.1em;
}
.sign{
  margin-right: 0.4em;
}
.percent-calc{
  background-color: rgba(255, 255, 255, 0.2);
  display: grid;
  place-items: center;
  height: 1.5em;
  width: 2.1em;
  border-radius: 0.2em;
  margin-left: 0.3em;
}
.top-income .percent-calc{
  background-color: transparent;
}
#final-bal-container{
  font-size: 3rem;
}




/* bottom section------------------------------------------------------------ */
.bottom-section-container{
  position: fixed;
  top: 40%;
  left: 0;
  width: 100%;
  min-height: 60%;
}
.user-input-container{
  background-color: rgba(92, 100, 220, 0.3);
  border-bottom: 1px solid rgba(92, 100, 220, 0.1);
  border-top: 1px solid rgba(92, 100, 220, 0.1);
  display: grid;
  place-items: center;
}
.user-input-area{
  padding: 0.5em;
  min-width: 50%;
  display: grid;
  grid-template-columns: auto 1fr 22% auto;
}
.placeholder, #sign-dropdown{
  height: 3.5em;
  border: 1px solid rgba(92, 149, 255, 0.3);
  border-radius: 4px;
}
#sign-dropdown, #add-description, #value{
  color: gray;
  margin-right: 1em;
}
#sign-dropdown{
  grid-column: 1 / 2;
  padding: 0.5em;
}
#add-description{
  grid-column: 2 / 3;
}
#value{
  grid-column: 3 / 4;
}
.submit-btn-container{
  display: grid;
  place-items: center;
  padding: 0 1em;
}
.submit-btn{
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;
}
.placeholder{
width: 100%;
padding-left: 0.8em;
}

.inc-and-exp-table{
  display: grid;
  place-items: center;
  margin-top: 2em;
}
.inc-and-exp-table-container{
  /* background-color: red; */
  width: 70%;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-column-gap: 2%;
}
.inc-and-exp-table ul {
  list-style-type: none;
}
/*it's long because it's easier here than adding a class to this element in js*/
.income-table .calc-container .percent-calc{
  display: none;
}
.table .percent-calc{
  background-color: red;
  display: grid;
  place-items: center;
}
.table-ul{

}
.table li{
  border-bottom: 1px solid gray;
  /* border-top: 1px solid gray; */
  color: gray;
  margin-top: 0.9em;
}
/* .ul-amnt-value{
  min-height: 100%;
  min-width: 100%;
} */
.ul-amnt-container{
  display: grid;
  place-items: center;
}
.delete-btn {
  margin-left: 0.5;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}
