/* colors=======================================================================
red: rgba(92, 149, 255, 1);
gray: rgba(128, 128, 128, 0.6);
faint white: rgba(255, 255, 255, 0.5);
blue: rgba(92, 149, 255, 0.8); */



/*Global Styles===============================================================*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h2 {
  font-size: 1rem;
  padding: 0.8rem;
}

body {
  width: 100%;
  height: 100%;
}


/* top section================================================================*/
.top-section {
  background-image: url(../images/pencils.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-width: 700px;
  min-height: 40vh;
  display: grid;
  place-items: center;
}

.budget-area {
  min-width: 35vw;
  height: 90%;
  display: grid;
  place-items: center;
  grid-template-rows: repeat(2, 30%) 40%;
}

.budget-title {
  font-size: 1em;
}

.in-and-exp-container {
  min-width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.6em;
  background-color: white;
}

.details-container {
  height: 45%;
  padding: 0.6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-container > p {
  font-size: 0.75em;
}

.calc-container {
  display: flex;
  gap: 0.5em;
}

.top-income {
  background-color: rgba(92, 149, 255, 0.6);
  box-shadow: 0 0 3px 1px rgba(128, 128, 128, 1);
}

.top-expenses {
  background-color: rgba(237, 1, 1, 0.6);
  box-shadow: 0 0 3px 1px rgba(128, 128, 128, 1);
}

.white {
  color: white;
  font-size: 1.1em;
  margin: auto;
}

.sign {
  margin-right: 0.4em;
}

.percent-calc {
  background-color: rgba(255, 255, 255, 0.2);
  display: grid;
  place-items: center;
  height: 2em;
  width: 4em;
  font-size: 0.7em;
  border-radius: 0.2em;
  margin-left: 0.3em;
}

.top-income .percent-calc {
  visibility: hidden;
}

#final-bal-container {
  font-size: 2em;
  height: 100%;
}





/* bottom section=============================================================*/
.bottom-section-container {
  background-image: linear-gradient(to right, rgba(92, 149, 255, 0.2), rgba(237, 1, 1, 0.1));
  min-height: 60vh;
  width: 100%;
  min-width: 700px;
}

.user-input-container {
  background-color: rgba(92, 100, 220, 0.2);
  border-bottom: 1px solid rgba(92, 100, 220, 0.1);
  border-top: 1px solid rgba(92, 100, 220, 0.1);
  display: grid;
  place-items: center;
}

#user-input-area {
  padding: 0.5em;
  min-width: 50%;
  display: grid;
  grid-template-columns: auto 1fr 22% auto;
}

.placeholder, #sign-dropdown {
  height: 3.5em;
  border: 1px solid rgba(92, 149, 255, 0.3);
  border-radius: 4px;
}

#sign-dropdown, #add-description, #value {
  color: gray;
  margin-right: 1em;
}

#sign-dropdown {
  grid-column: 1 / 2;
  padding: 0.5em;
}

#add-description {
  grid-column: 2 / 3;
}

#value {
  grid-column: 3 / 4;
}

.submit-btn-container {
  display: grid;
  place-items: center;
  padding: 0 1em;
}

.submit-btn {
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;
}

.placeholder {
width: 100%;
padding-left: 0.8em;
}

.inc-and-exp-table {
  display: grid;
  place-items: center;
  margin-top: 3em;
}

.inc-and-exp-table-container {
  width: 98%;
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 4%;
}

.income-h2 {
  color: rgba(92, 149, 255, 0.8);
}

.expenses-h2 {
  color: rgba(237, 1, 1, 0.8);
}

.inc-and-exp-table ul {
  list-style-type: none;
}

.table-ul li:first-child {
  border-top: 1px solid rgba(128, 128, 128, 0.4);
}

/*it's long because it's easier here than adding a class to this element in js*/
.income-table .calc-container .percent-calc {
  display: none;
}

.table .percent-calc {
  color: white;
  background-color: red;
  display: grid;
  place-items: center;
}

.table li {
  height: 3em;
  cursor: pointer;
  padding: 0 0.8rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  color: rgba(0, 0, 0, 0.7);
}

.ul-amnt-container {
  display: grid;
  place-items: center;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.delete-btn {
  display: none;
  margin: auto;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}

.table li:hover .delete-btn {
  display: block;
}

.table li:hover .ul-amnt-container {
  margin-right: 0.4em;
}

.table .percent-calc {
  transition: all 0.3s ease-in-out;
}

.table li:hover .percent-calc {
  margin-right: 0.6em;
}



/* Short Screen============================================================== */
@media only screen and (max-height: 415px) {
  #final-bal-container{
    font-size: 1.5em;
  }
  .in-and-exp-container{
    height: 100%;
  }
  .budget-area{
    height: 90%;
  }
  .white{
    font-size: 1em;
  }
}


/* Long Screen=============================================================== */
@media only screen and (min-height: 700px) {
  body{
    font-size: 1.5rem;
  }
  #final-bal-container{
    font-size: 1.3em;
  }
  .budget-area {
    min-width: 40vw;
    height: 70%;
  }

}
